.speech{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction{
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightgray;
    transition: background-color 0.3s, color 0.3s;
}
.direction:hover{
    background-color: maroon;
    color: white;
}

.HEDDA {
    color: blue; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.BRACK{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
table {
    border-color: blue;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
th {
    border: 2px solid;
    border-radius: 5px;
    border-color:firebrick;
    color: white;
    height: 50px;
    background-color:rgb(56, 175, 207);
}
td {
    border: 2px solid;
    border-radius: 10px;
    border-color:firebrick;
    background-color: blanchedalmond;
    height: 30px;
}

tr:hover {background-color:lightskyblue;}

.HEDDA:hover{
    font-size: medium;
    color: red;
    text-shadow: 0 0 20px rgb(197, 230, 13);
    border-style: dashed;
    border-radius: 15px;
}
.BRACK:hover {
    font-size: medium;
    color: blueviolet;
    text-shadow: 0 0 20px rgb(236, 10, 100);
    border-style: double;
    border-radius: 10px;
}

.navbar {
    background-color: burlywood;
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar i {
    font-size: 12px;
    margin-bottom: 5px;
}